.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid #ccc;
}

.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
